@{
    ViewBag.Title = "Principal";
}

<!-- Begin Header -->
<header>
    <div id="divHeader">
        <div class="divMenu boxshadow">
            <div style="float:left; margin-left:250px;">
                @*<img src="~/Content/Imagens/logo.png" class="logo" style=" width:150px; height:80px;"/>*@
            </div>
            <div>
                <nav>
                    <ul >
                        <li><a href="#home" class="up">HOME</a></li>
                        <li><a href="#usinagem">USINAGEM</a></li>
                        <li><a href="#servico">SERVIÇOS</a></li>
                        <li><a href="#clientes">CLIENTES</a></li>
                        <li><a href="#perguntas">PERGUNTAS</a></li>
                        <li><a href="#contato">CONTATO</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->

<div id="separa" style="border-bottom: 1px solid red;"></div>

<!-- Begin Content -->

<div id="divFirst">
    <div class="wrapper">
        <div style="width: 1000px; margin: 0 auto;">
            <h1 id="h1Home">
                <span class="sHome1">N&N Locação de Caçambas</span>
                <span class="sHome2">uma empresa especializado em remoção de entulho e usinagem</span>
                <span class="sHome3">E que possui sua própria Usina.</span>
            </h1>
            <p>
                <img src="/Content/Imagens/line-home.png" alt="Linha" width="794" height="8">
            </p>
            <p class="aleft" style="padding-top: 30px;"><span class="sHome4">Faça seu pedido pelo site, ou entre em contato com agente!</span></p>
            <p class="aright" style="padding-top: 30px;"><span class="sHome5">Saiba mais sobre nossa unidade de Usinagem</span></p>
            <p class="acenter" style="padding-top: 30px;"><span class="sHome6">Aluguel de caçambas, máquinas e caminhões</span></p>
        </div>
    </div>
</div>
<div id="divSecond">
    <div class="wrapper">
        <h1>Usinagem</h1>
        <div id="usinagemMain">
            <div id="usinagemOne">
                <img src="/Content/Imagens/usinagem.jpg" alt="Usinagem" id="imagemUsinagem">
            </div>
            <div id="textoUsinagem" class="aleft">
                <span class="sUsina">A NNTratamento de Residuos,</span><br />
                <span class="sUsina">faz a seleção e separação</span><br />
                <span class="sUsina">de materiais da construção ,</span><br />
                <span class="sUsina">civil encaminhando os </span>
                <br />
                <span class="sUsina">materiais para os devidos </span>
                <br />
                <span class="sUsina">lugares a serem descartados, </span>
                <br />
                <span class="sUsina">em lugares cadastrador e </span>
                <br />
                <span class="sUsina">regularizados junto aos </span>
                <br />
                <span class="sUsina">orgaos copetentes, visando </span>
                <br />
                <span class="sUsina">melhorias nas condições </span>
                <br />
                <span class="sUsina">de uma vida mais Sustentavel.</span><br />
                <span class="sUsina"></span>
                <br />
            </div>
            <div style="clear:both;"></div>
            <p class="aright"><span class="sHome6" id="subTextUsina">Fico interessado sobre nossa Usina, entre em contato conosco!</span></p>
        </div>
    </div>
</div>
<div id="divThird">
    <div class="wrapper container">
        <div class="section clearfix" id="about">
            <h1>N&N Locação de Caçamba - Serviços</h1>
            <p class="background">Somos uma empresa a muito anos no mercado, com profissionais capacitados e equipamentos de alta qualidade para ofereçermos o melhor atendimento ao nosso cliente.</p>
            <div class="row clearfix">
                <div class="one-third column alpha" style="margin-left: 50px;">
                    <h2>Locação<br>Caçambas</h2>
                    <a href="#contato">
                        <img src="/Content/Imagens/web_circle.png" alt="Websites" width="300" height="200" class="imagemServico"></a>
                    <p>A N&N oferece aos clientes, grande quantidade de caçambas devidamente identificadas com o nome e telefone da empresa. Para sua segurança, elas passam por manutenções constantes. Conheça todos os nossos equipamentos.</p>
                </div>
                <div class="one-third column">
                    <h2>Aluguel<br>de Equipamentos</h2>
                    <a href="#contato">
                        <img src="/Content/Imagens/branding_circle.png" alt="Branding" width="300" height="200" class="imagemServico"></a>
                    <p>A N&N oferece aos clientes, uma grande variedade de tipos de caminhões e máquinas para os serviços de aluguel que você esta procurando. Para sua segurança, eles passam por manutenções constantes.</p>
                </div>
                <div class="one-third column omega">
                    <h2>N&N Tratamento<br>Residuos</h2>
                    <a href="#contato">
                        <img src="/Content/Imagens/print_circle.png" alt="Print" width="300" height="200" class="imagemServico"></a>
                    <p>Ofereçemos um lugar onde tratamos os residuos, fazendo a seleção de materiais, encaminhando para lugares corretos, visando melhora nas condiçoes de uma vida mais sustentavel.</p>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <p class="aright" id="mensagemServico"><span class="sHome6">Saiba mais sobre nossos serviços, entre em Contato.</span></p>
    </div>
</div>
<div id="divFourth">
    <div class="wrapper">
        <div id="clientes">
            <h1>Principais Clientes</h1>
            <div id="divClients">
                <div class="divClient">
                    <div class="divClientImage">
                        <a href="http://www.embraer.com.br/" target="_blank">
                            <img src="/Content/Imagens/cliente/embraer.jpg" title="Embraer" width="150" style="margin-top: 50px;" class="img1"></a>
                    </div>
                </div>
                <div class="divClient">
                    <div class="divClientImage">
                        <a href="http://fiat.com.br" target="_blank">
                            <img src="/Content/Imagens/cliente/fiat.jpg" title="Fiat" width="130" height="120" style="margin-top: 15px; margin-left: 10px;" class="img2"></a>
                    </div>
                </div>
                <div class="divClient">
                    <div class="divClientImage">
                        <a href="http://www.nagumo.com.br" target="_blank">
                            <img src="/Content/Imagens/cliente/nagumo.jpg" title="Nagumo" width="150" style="margin-top: 45px;" class="img3"></a>
                    </div>
                </div>
                <div class="divClient">
                    <div class="divClientImage">
                        <a href="http://www.polemicaconstrutora.com.br/" target="_blank">
                            <img src="/Content/Imagens/cliente/polemica.png" title="Polemica" width="150" height="120" style="margin-top: 9px;" class="img4"></a>
                    </div>
                </div>
                <div class="divClient" style="margin-right: 0px;">
                    <div class="divClientImage">
                        <a href="http://www.sabesp.com.br" target="_blank">
                            <img src="/Content/Imagens/cliente/sabesp.png" title="Sabesp" width="150" style="margin-top: 15px;" class="img5"></a>
                    </div>
                </div>
                <div class="divClient">
                    <div class="divClientImage">
                        <a href="http://www.tenda.com.br" target="_blank">
                            <img src="/Content/Imagens/cliente/tenda.gif" title="Tenda" width="150" style="margin-top: 45px;" class="img6"></a>
                    </div>
                </div>
                <div class="divClient">
                    <div class="divClientImage">
                        <a href="http://www.joseense.com.br/" target="_blank">
                            <img src="/Content/Imagens/cliente/metalurgica.gif" title="Metalurgica" width="150" style="margin-top: 45px;" class="img7"></a>
                    </div>
                </div>
                <div class="divClient">
                    <div class="divClientImage">
                        <a href="http://www.vidrobem.com.br" target="_blank">
                            <img src="/Content/Imagens/cliente/vidrobem.png" title="Vidro Bem" width="150" style="margin-top: 45px;" class="img8"></a>
                    </div>
                </div>
                <div class="divClient">
                    <div class="divClientImage">
                        <a href="http://www.essencis.com.br" target="_blank">
                            <img src="/Content/Imagens/cliente/essecencis.png" title="Essecencis" width="150" style="margin-top: 45px;" class="img9"></a>
                    </div>
                </div>
                <div class="divClient" style="margin-right: 0px;">
                    <div class="divClientImage">
                        <a href="http://www.ventureone.com.br" target="_blank">
                            <img src="/Content/Imagens/cliente/plamacom.jpg" title="Plamacom" width="150" style="margin-top: 35px;" class="img10"></a>
                    </div>
                </div>
                <div style="clear: both; height: 40px;"></div>
                <p class="aright" style="padding-top: 0px;"><span class="sHome6">Temos a satisfação de trabalhar com nossos clientes.</span></p>
                <p class="aleft" id="clienteEspaco" style="padding-top: 30px;"><span class="sHome5">Venha fazer parte desta equipe também.</span></p>
            </div>
        </div>
    </div>
</div>
<div id="divFifth">
    <div class="wrapper">
        <div id="perguntas">
            <strong>O preço depende de qual fator?</strong><br />
            <span>O preço pode variar de acordo com a quantidade de caçambas locadas e, também, com o tipo de material a ser depositado. Há também  limitações quanto ao trânsito de caminhões em algumas regiões da cidade.</span><br />
            <p class="aleft"><span class="sHome7">Entre em Contato</span></p>
            <strong>Qual a forma de pagamento?</strong><br />
            <span>A N&N, pensando na comodidade de seu cliente, disponibiliza diversas formas de pagamento. Entre em contato com nossa Central de Atendimento.</span>
            <br />
            <br />
            <strong>Quando é feito o pagamento?</strong>
            <br />
            <span>Para sua comodidade, o pagamento pode ser efetuado na entrega ou retirada da caçamba.</span><br />
            <p class="aleft"><span class="sHome7">Entre em Contato</span></p>
            <strong>Quanto tempo a caçamba demora para chegar? </strong>
            <br />
            <span>Com o lema “Chamou, chegou!”, a N&amp;N fornece as caçambas para você no mesmo dia do pedido, ou em até uma hora após o mesmo. Aqui, sua necessidade está em primeiro lugar!</span>
            <br />
            <br />
            <strong>Quantos dias o cliente pode usar a(s) caçamba(s)? </strong>
            <br />
            <span>A utilização da caçamba pode ser de no máximo cinco dias úteis*. Se houver necessidade de extensão desse prazo, avise-nos previamente. Já para empresas, construtoras e empreiteiras, o período se estende. Portanto pedimos para que entrem em contato com a N&amp;N e combinaremos a disponibilidade.</span><br />
            <br />
            <em>*Sábado é considerado dia útil.</em><br>
            <br />
            <br />
        </div>
    </div>
</div>
<div id="divSix">
    <div class="wrapper">
        <div class="coluna aleft left">
            <h1>Fale Conosco</h1>
            <h2><a href="mailto:escritorio@nncomercial.com">escritorio@nncomercial.com</a></h2>
            <h3>São José dos Campos<br />
            </h3>
            <h4>Rua Corifeu de Azevedo Marques, 1463, Jardim das Industrias<br />
            </h4>
            <h4>+55 (12) 3931-5725<br />
                <br />
            </h4>
            <h3>Jacareí<br />
            </h3>
            <h4>Av Vereador Egídio Antonio Coimbra, 739, Res Pq Sinos<br />
            </h4>
            <h4>+55 (21) 2548-4452<br />
            </h4>
        </div>
        <div class="coluna left2" style="width: 360px;">
            <p>
                <label for="Nome">Qual é o seu nome?</label><br>
                <input type="text" name="Nome" id="Nome" style="width: 335px;" autocomplete="off" placeholder="Nome" />
            </p>
            <p>
                <label for="Email">Seu e-mail?</label><br>
                <input type="text" name="Email" id="Email" style="width: 335px;" autocomplete="off" placeholder="Email" />
            </p>
            <p>
                <label for="Telefone">Seu telefone?</label><br>
                <input type="text" name="strDDD" id="strDDD" style="width: 44px;" autocomplete="off" placeholder="DDD" />
                <input type="text" name="Telefone" id="Telefone" style="width: 260px;" autocomplete="off" placeholder="Telefone" />
            </p>
            <p>
                <label for="Texto">Deixe sua mensagem e entraremos em contato!</label><br>
                <textarea name="Texto" id="Texto" style="width: 335px; height: 100px;" rows="11" placeholder="Mensagem"></textarea>
            </p>
            <p>
                <input type="submit" value="enviar" id="enviar" />
            </p>
        </div>
    </div>
</div>

<!-- End Content -->

<!-- Begin Footer -->

<footer>
    <div id="divFooter">
        <div id="footerOne">
            <img src="~/Content/Imagens/logo.png" alt="Site Sustentável">
        </div>
        <div id="footerTwo">
            <span>N&N Comercial © @DateTime.Now.Year | Todos os direitos reservados | Desenvolvido por <a href="mailto:bruno.sato@live.com" title="Email: bruno.sato@live.com / Twitter: BrunoKSato" style="text-decoration: none; color: black; font-weight: bold;">Bruno Sato</a></span>
        </div>
    </div>
</footer>

<!-- End Footer -->

@using System.Web.Optimization
@Scripts.Render("~/Bundle/Scripts")


