<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Principal</title>
    <meta charset="utf-8" />
    @using System.Web.Optimization
    @Styles.Render("~/Bundle/CSS")
    
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
